
// Colors
$main-material-color: #161616;
$excel-material-color: #bcbcbc;
$border-color: #c0c0c0;

// Sizing
$header-height: 2.125rem;
$toolbar-height: 2.5rem;
$formula-height: 1.5rem;
$row-height: 1.5rem;
$col-width: 6.5rem;

$info-col-width: 2.5rem;
$button-font-size: 1.125rem;

//Dashboard vars

$db-header-heigth: 4rem;
